<div id="users-content">
<div class="container">
<div class="row">
  <div class="col-lg-12">
 <%= render partial: "users/header" %>
  <div class="list-group">
  	<% if @user.favorites.empty? %>
		<div class="list-group-item">
			まだお気に入りに登録されたツイートはありません
		</div>
		<% end %>
  </div>
  </div>


  <div class="col-lg-12 my-3">
    <div class="line-bc bg-secondary">
    <%= render partial: "users/tubuyaki", collection: @user.favorites.map{|f| f.tubuyaki} %>
    </div>
  </div>
  </div>
</div>
</div>
