<div id="users-content">
<div class="container">
<div class="row">
  <div class="col-lg-12">
 <%= render partial: "users/header" %>
 </div>
  <div class="container">
<div class="row">
		<%= render @user.inverse_followers %>
</div></div>
</div>
</div>
</div>