// Place all the styles related to the registrations controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#registrations {
	/*background-image: asset-url("back.jpg");*/
	background-position: center;
	background-size: cover;
	background-color: transparent;
	background-repeat: no-repeat;
	background-color: black;
}

#registrations-new {
	width: 100%;   
    height: 100%;
}
