// Place all the styles related to the sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#sessions {
   widows: 100%;
   height: 100%;
   background-color: black;
 }


